<div class="container">
  <% if notice %>
    <div class="container alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

<p>
  <strong>Description:</strong>&nbsp;&nbsp;<%= @task.description %>
</p>
<p>
  <strong>Completed:</strong>&nbsp;&nbsp;<%= @task.complete %>
</p>
<p>
  <strong>Due Date:</strong>&nbsp;&nbsp;<%= @task.due_date %>
</p>
<br />
</div>
