<div>

  <div class="page-header">
    <div class="pull-right text-muted">
      <%= link_to 'Create User', new_user_path, class: "btn btn-primary" %>
    </div>
    <h1>Users</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th width="25%">Name</th>
        <th width="75%">Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
          <% if current_user == user || current_user.admin %>
            <td><%= mail_to(user.email) %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
</div>
