<div class="container">
  <% if notice %>
    <div class="container alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <div class="page-header">
    <div class="pull-right text-muted">
      <%= link_to 'Create User', new_user_path, class: "btn btn-primary" %>
    </div>
    <h1>Users</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th width="25%">Name</th>
        <th width="75%">Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
        <td><%= user.first_name.capitalize + ' ' + user.last_name.capitalize %></td>
          <td><%= mail_to(user.email) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
