<div class="container">
  <h1>Frequently Asked Questions</h1>
  </br>
  <!-- Quotes -->
  <% @faq.each do |faq| %>
   <p><%= faq.question %></p>
   <p><%= faq.answer %></p>
   </br>
  <% end %>
</div>
