<div>
  <h1 class="page-header">Terms</h1>
  <p>gSchool is not responsible for anything, unless it is positive.</p>
  <p>You may not take us to court, for anything ever.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>
