<div>
  <div class="page-header">
    <div class="pull-right text-muted">
      <%= link_to 'Create Project', new_project_path, class: "btn btn-primary" %>
    </div>
    <h1>Projects</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>
      <% @current_memberships.each do |m| %>
        <tr>
          <td><%= link_to m.project.name, project_path(m.project_id) %></td>
          <td><%= link_to m.project.memberships.count, project_memberships_path(m.project_id) %></td>
          <td><%= link_to m.project.tasks.count, project_tasks_path(m.project_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
</div>
