@import "bootstrap-sprockets";
@import "bootstrap";

.gschool-main {
  padding-top: 80px;
}

.pics {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* Gradient transparent - color - transparent */
hr.style-two {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

footer {
  margin-bottom: 20px;
}

.footer-social {
  a {
    padding: 10px;

  }
}

// ask Aaron about this class ....
.vertical-center {
  height:100%;
  width:100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
}

.my-class-no-left-pad {
  padding-left: 0px;  
}
