@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #EEEEEE;
}

.navbar {
  background-color: orange;
}

.gschool-main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 80px 10px 10px 10px;
}


.pics {
  width: 100%;
  margin-bottom: 30px;
}

.panel {
  min-height: 200px;
}
